body {
font-size: 1em;
font-family: sans-serif;
margin: 1px;
padding: 1px;
}

table {
min-width: 50%;
border-spacing: 0;
border-collapse: separate;
}

caption {
color: #eee;
padding: 10px;
text-align: right;
font-weight: bold;
position: absolute;
right: 0;
top: 0;
}

a {
color: black;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a:visited {
color: green;
}

header {
margin-bottom: 20px;
}

select {
padding: 5px 0;
margin: 0;
}

header #permalink {
padding: 20px 10px;
}

header .quote, header #permalink {
margin-left: 20px;
}

header .quote {
color: gray;
font-style: italic;
font-family: serif;
}

#permalink {
font-size: .8em;
}

th {
vertical-align: bottom;
padding-bottom: 10px;
}

th select {
width: 80%;
text-align: center;
}

td {
margin: 0;
padding: 10px 5px;
font-size: .9em;
letter-spacing: 1px;
}

th:nth-child(1) {
width: 350px;
color: white;
}

tr:nth-child(odd) td {
background: #eee;
}

tr:hover td {
background: #ccc;
}

tr:hover td a {
text-decoration: underline;
}
