body {
font-size: 1em;
font-family: sans-serif;
margin: 1px;
padding: 1px;
}

table {
min-width: 50%;
border-spacing: 0;
border-collapse: separate;
}

caption {
color: #eee;
padding: 10px;
text-align: right;
font-weight: bold;
position: absolute;
right: 0;
top: 0;
}

a {
color: black;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a:visited {
color: green;
}

header {
margin-bottom: 20px;
}

select {
padding: 5px 0;
margin: 0;
}

header #permalink {
padding: 20px 10px;
}

header .quote, header #permalink {
margin-left: 20px;
}

header .quote {
color: gray;
font-style: italic;
font-family: serif;
}

#permalink {
font-size: .8em;
}

th {
vertical-align: bottom;
padding: 10px 5px;
position: sticky;
top: 0;
background: white;
border-bottom: 2px solid #bbb;
}

th select {
min-width: 80%;
text-align: center;
margin-top: 2px;
}

td {
margin: 0;
padding: 10px 5px;
font-size: .9em;
text-align: center;
}

th:nth-child(1) {
width: 350px;
color: white;
}

/* column labels with "quoted text" */
th span.no-break {
white-space: nowrap;
/* solves problem with chromium 'pushing' the select to the right */
display: inline-block;
font-style: italic;
color: #666;
}

td:nth-child(1) {
text-align: left;
padding-left: 10px;
}

tr:nth-child(odd) td {
background: #eee;
}

tr:hover td {
background: #ccc;
}

tr:hover td a {
text-decoration: underline;
}

footer {
font-size: .8em;
color: #666;
}

footer ul {
list-style-type: none;
margin-left: 20px;
padding-left: 0;
}

footer ul li {
padding-bottom: 4px;
}

footer ul li strong code {
color: black;
font-size: 1.2em;
}

footer ul li:nth-last-child(1) {
margin-top: 20px;
font-size: 1.1em;
}

footer a:visited {
color: blue;
}
